@media (min-width: 1200px) {
    .container {
      max-width: 970px;
    }
  }

.forum-title{
    color: white;
    text-align: center;
    margin-top: 100px;
}
.forum-bg{
    width: 100%;
    height: 100%;
    background-image: url('../assets/universe2.jpg');
}
.forum-box {
    height: 25em;
}
  
.forum-box .inner {
    height: 22em;
    overflow-y: auto;
}
  
.input-box{
    background-color: rgb(247, 251, 254);
}
  