*{
  font-family: 'Kanit', sans-serif;
}

@media (max-width: 768px){
  #navigation{
    display: none;
  }
  h1{
    font-size: 1.5em;
}
  p{
    font-size: 12px;
  }
  .logos{
    font-size: 1.5em;
  }
}

@media (min-width: 768px) {
  h1{
      font-size: 2em;
  }
  .logos{
      font-size: 2em;
  }
}

/* :root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
} */

header{
  color: white;
  position: fixed;
  text-align: center;
  width: 100%;
  z-index: 999;
}

#nav-button{
  color: #fff;
}

header .logos {
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.active{
  background-color:rgb(180, 240, 15, 0,5);
}
a:hover{
  color:rgb(180, 240, 15);
}

.webpage{
  width: 100%;
  background-color: black;
  background-size: cover;
}
